form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formLabel {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.formInput {
  display: block;
  width: 100%;
  margin-top: 5px;
}
